:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  transition: 0.2s ease-in-out;
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #b8b8b8;

  --btn-background-color: #efefef;
  --btn-border-color: #b8b8b8;
  --btn-text-color: #000000;
  --btn-disabled-text-color: rgba(16, 16, 16, 0.3);
  --btn-disabled-background-color: rgba(239, 239, 239, 0.3);
}

body.dark {
  --background-color: #a5a5a5;
  --text-color: #ffffff;
  --border-color: #f0f0f0;

  --btn-background-color: #909090;
  --btn-border-color: #ececec;
  --btn-text-color: #ffffff;
  --btn-disabled-text-color: rgba(255, 255, 255, 0.3);
  --btn-disabled-background-color: rgba(153, 153, 153, 0.3);
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}
