.inp {
  border: 1px solid rgb(184, 184, 184);
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  padding-left: 20px;
  width: 250px;
  font-size: 20px;
}

.btn {
  margin-left: 5px;
  border: 1px solid rgb(184, 184, 184);
  height: 40px;
  border-radius: 15px;
  padding: 5px;
  width: 80px;
  font-size: 20px;
}

.btnred {
  background-color: rgb(231, 141, 141);
}
