body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}
